
    #header{
        background-color: rgb(189, 4, 4);
        color: white;
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100px;
        width: 100%;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        }

.v_logo{
        top: 100px;
        left: 0px;
        position: absolute;
        height: 50px;
        width: 25%;
        border-bottom: 1px solid;
    
} 

.hlogo{
        padding-left: 20px;
        height: 90%;
        width: auto;
}  

    .menu{
        top: 100px;
        left: 25%;
        position: absolute;
        height: 50px;
        width: 80%;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid;
        }

.menu ul{     
        text-align: right;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-right: 7%;}

.menu ul li{  
       list-style: none;
       display: inline;
       margin: 5px;
       padding: 5px;
}

  .menu ul  a{
       text-decoration: none;
       background-color: black;
       color: white; 
       border-radius: 5px;
      display: inline-block;
}
 .menu ul a:hover{
       background-color: rgb(189, 4, 4); 
       color: white; 
       transition: 3sec; 
}

    .l_menu{
        top: 100px;
        left: 25%;
        position: absolute;
        height: 50px;
        width: 80%;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid;
        }

.l_menu ul{     
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-right: 7%;}


    
    #lsb{
       background-color:white;
        top: 152px;
        left: 0px;
        position: absolute;
        height: 647px;
        width: 25%;
        text-align: center;
        font-size: 18px;
        float: left;
        border-right: 1px solid;
        border-bottom: 1px solid;
        
    }

#rsb{
    background-color:white;
        top: 152px;
        left: 75%;
        position: absolute;
        height: 647px;
        width: 25%;
        text-align: center;
        font-size: 35px;
        float: left;
        border-bottom: 1px solid;
        border-left: 1px solid;
    }
.para{
    text-align: left;
    font-size: 18px;
}

 .tbl{
     margin-top: 10px;
     margin-left: 10%;
}
    
    #cnt{
        background-color:rgb(242, 242, 242);
        top: 152px;
        left: 25%;        
        position: absolute;
        height: 647px;
        width: 50%;
        text-align: center;
        font-size: 15px;
        float: right;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-right: 1px solid;
        
    }

#info{
    text-align: center;
    
}

.p_info{
    border-bottom-color:#bd0404;
    color: white;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 17px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-top: 30px;
    margin-left: 30px;
}

.p_p_p{
    
    margin-top: 100px;
}

.p_p{
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
}

#first{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 800px;
        left: 0px;
        position: absolute;
        height: 300px;
        width: 25%;
}

.f_logo{
    left: 30px;
    top: 30px;
    position: absolute;
    border: 2px solid #fff;
    border-color: #363636;
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}

#second{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 800px;
        left: 25%;
        position: absolute;
        height: 300px;
        width: 25%;
}

#third{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 800px;
        left: 50%;
        position: absolute;
        height: 300px;
        width: 25%;
}

#forth{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 800px;
        left: 75%;
        position: absolute;
        height: 300px;
        width: 25%;
}

    
    #footer{
        background-color: rgb(32, 32, 32);
        color: white;
        top: 1100px;
        left: 0px;
        position: absolute;
        height: 80px;
        width: 70%;
        font-size: 18px;
    }

.p_f{
    margin-top: 30px;
    margin-left: 30px;
}

#s_logo{
        background-color: rgb(32, 32, 32);
        color: white;
        top: 1100px;
        left: 70%;
        position: absolute;
        height: 80px;
        width: 30%;
        text-align: right;
}

.slogo{
    margin-right: 10px;
}

.fa{
  
  margin-top: 10px;
  padding: 20px;
  font-size: 30px;
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Instagram */
.fa-instagram{
  background: #125688;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.notice{
    background-color: red;
    color: white;
    
}
    
